body {
  // background: #fff;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: url('../img/_background.png') center center;
  background-size: cover;
  color: white;
}

slide {
  font-size: 1em;
  display: block;
  width: 100%;
  line-height: 20vh;
  vertical-align: middle;
  top: 40.5vh;
  position: absolute;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  @media screen and (max-width: 450px) {
    font-size: 1.8em;
  }
}

machine {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 10vw;
  margin: 0 auto;
  padding: 0 10vw;
  display: flex;
  transform-style: preserve-3d;
  perspective: 100vh;
  overflow: hidden;
  user-select: none;
  cursor: pointer;

  // &:after {
  //   content: ' ';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: 5;
  //   background-image: linear-gradient(#374455, rgba(255,255,255,0), rgba(255,255,255,0), #212933);
  // }

  // &:after {
  //   background-image: linear-gradient(#212933, rgba(255,255,255,0), #212933);
  // }

  @media screen and (min-width: 1300px) {
    max-width: 1300px;
    padding: 0 30vw;
  }
}

wheel {
  font-family: digital;
  font-size: 200px;
  flex: auto;
  min-height: 100vh;
  position: relative;
  transition: transform;
  // transition-duration: 10s;
  transform: translateZ(-82vmax) rotateY(0deg);
  transform-style: preserve-3d;
  transition-timing-function: cubic-bezier(0.2, -0.02, 0.29, 1.04);

  &:nth-child(2) {
    transition-delay: 0.3s;
  }

  &:nth-child(3) {
    transition-delay: 0.7s;
  }

  &.active {
    
  }
}

.button-container {
  position: absolute;
  bottom: 50px;;
  right: 50px;
  display: flex;
  // width: 100%;
  justify-content: center;
}

.team {
  width: 300px;
  transform: translateY(-12vh);
}